<p-dialog [header]="title" [visible]="dialogVisible" [class]="classes" appendTo="body" [closable]="false"
    [modal]="true">

    <div class="message" [innerHTML]="message">

    </div>

    <p-footer>
        <button *ngIf="closeButtonLabel" pButton (click)="cerrarDialog()" class="btn btn-default" title=""
            label="{{ closeButtonLabel }}"></button>
    </p-footer>
</p-dialog>