
.disable-scroll .ui-dialog-content {
    overflow: hidden !important;
  }

  .loading-indicator {
    position: fixed;
    z-index: 10000;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 45%;
    left: 46.5%;
    bottom: 55%;
    right: 53.5%;
    }
    
    /* Transparent Overlay */
    .loading-indicator:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(144, 154, 175, 0.397);
    } 