<div class="layout-wrapper" [ngClass]="{'layout-sidebar-active': sidebarActive}">

  <app-topbar></app-topbar>
  <app-breadcrumb></app-breadcrumb>

  <div class="layout-main container">
      <div class="layout-content">
          <router-outlet name="content"></router-outlet>
      </div>
      <div class="layout-main-mask"></div>
  </div>
  <app-footer></app-footer>
</div>
<app-idle-detector></app-idle-detector>

<p-confirmDialog header="Confirmación" icon="fa fa-question-circle" [style]="{'width': '425px'}" #cd>
  <p-footer>
      <button type="button" pButton icon="pi pi-times" label="{{ 'labels.cancelar' | translate }}"
          (click)="cd.reject()"></button>
      <button type="button" pButton icon="pi pi-check" label="{{ 'labels.aceptar' | translate }}"
          (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>