<span> {{ texto | slice:0:sizeCut }}</span>
<span *ngIf="texto.length > sizeCut">...</span>
<button *ngIf="texto.length > sizeCut" type="button" pButton icon="pi pi-window-maximize" [title]="tooltipText"
    (click)="abrirDialogo()" style="float: right;"></button>

<p-dialog #dialog appendTo="body" [(visible)]="dialogoVisible" [modal]="false" [closable]="false"
    [style]="{width: '400px'}">
    <p-header>
        <span> {{title}} </span>
    </p-header>

    <div class="row">
        <div class="col-md">
            <div class="form-group">
                <textarea pInputTextarea [attr.disabled]="''" [ngStyle]="{width: '100%'}">{{texto}}</textarea>
            </div>
        </div>
    </div>

    <p-footer>
        <div class="botonera derecha">
            <button pButton (click)="cerrarDialogo()" class="btn btn-default" title=""
                label="{{ 'labels.cerrar' | translate }}"></button>
        </div>
    </p-footer>

</p-dialog>