/* css */

.menu-superior-movil {
    display: none;
    right: -100%;
}

@media screen and (max-width:800px ) {

    .menu-superior {
        display: none;
    }

    .menu-superior-movil {
        display: block;
        height: 100%;
        width: 80%;
        background-color: #0064ac;
        position: fixed;
        z-index: 99999999;
        transition: right 1s;
        padding: 10px;
    }

    .menu-superior-movil div.menu-superior-info {
        color: white;
    }

    .menu-superior-movil div.menu-title {
        color: white;
        font-weight: bold;
        text-align: center;
        margin-top: 15px;
    }
    
}