<div class="menu-superior">
        <div class="container">
                <p-menubar [model]="items"></p-menubar>
        </div>
</div>

<div #menuSuperiorMovil class="menu-superior-movil">

        <app-boton-login></app-boton-login>

        <div class="menu-superior-info" *ngIf="identidad">
                <div class="row">
                        <div class="col">
                                <span style="font-size:15px"> Conectado como
                                        <br /><strong>{{(identidad.nombres.length)>18?(identidad.nombres | slice:0:18)+'...':(identidad.nombres)}}</strong></span>
                        </div>
                </div>
                <div class="row">
                        <div class="col">
                                <span style="font-size:15px"><strong>Perfil:</strong> {{identidad.perfil.nombre}}</span>
                        </div>
                </div>
        </div>

        <div class="menu-title">Menu</div>
        
        <p-panelMenu [model]="items"></p-panelMenu>

        <app-boton-logout></app-boton-logout>
</div>