.iniciar-sesion-btn-wrapper button {
    margin-top: 21px;
    font-weight: bold;
    font-size: 1em;
}
    
@media screen and (max-width:800px ) {
    .iniciar-sesion-btn-wrapper button {
        width: 100%;
        margin-bottom: 9px;
        font-size: 0.9em;
    }

    .iniciar-sesion-btn-wrapper button span {
        padding-left: 5px;
    }
}

