<div class="iniciar-sesion-btn-wrapper"  *ngIf="!identidad">
        <button pButton type="button" label="Iniciar Sesión" (click)="iniciarSesionAction()" iconPos="left"
        icon="pi pi-sign-in" class="ui-button-secondary"></button>
</div>