<div class="layout-topbar">
    <div class="container">
        <div id="header" style="max-height: 80px;">

            <div #menuMobileButton class="menu-mobile-button"> 
                <a (click)="toggleMenuMovil()"><em class="pi pi-bars"></em></a>
            </div>

            <div class="col-md-8">
                <div class="brand">
                    <a href="/">
                        <img id="gobLogoImg" src="/assets/images/logo_transversal.png" alt="gob_logo" height="90"/>
                    </a>
                </div>
            </div>
            <div class="col-md-4 pull-right" 
                style="max-width: 245px; padding-right: 0px;">

                <ng-container *ngIf="identidad">
                    <div class="row identidad-header" style="margin-top: 15px;" (mouseover)="opUsuario.show($event)">
                        <div class="col" style="max-width: 45px;">
                            <em class="pi pi-user"
                            style="vertical-align: text-top;
                            margin-top: 1px;
                            font-size: 30px;"></em>                   
                        </div>
                        <div class="col">
                            <span style="font-size:15px"> Conectado como <br/><strong>{{(identidad.nombres.length)>18?(identidad.nombres | slice:0:18)+'...':(identidad.nombres)}}</strong></span>
                        </div>
                    </div>
                </ng-container>

                <div class="app-boton-login-wrapper">
                    <app-boton-login></app-boton-login>
                </div>
                
            </div>
        </div>
    </div>
</div>
<app-menu-superior #menuSuperior ></app-menu-superior>

<p-overlayPanel #opUsuario  [showCloseIcon]="false" styleClass="opUsuario" >
    <ng-container *ngIf="identidad">
        <div (mouseleave)="opUsuario.hide($event)">
            <div class="row">
                <div class="col">
                    <span style="font-size:15px"><strong>Perfil:</strong> {{identidad.perfil.nombre}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col" style="text-align: right;">
                    <app-boton-logout></app-boton-logout>
                </div>
            </div>
        </div>
    </ng-container>
</p-overlayPanel>
