
.menu-mobile-button {
    display: none;
}

@media screen and (max-width:800px ) {

    .app-boton-login-wrapper {
        display: none;
    }
    
    .layout-topbar {
        padding-right: 0;
        position: sticky;
    }

    .container {
        padding-right: 0;
    }

    #header{
        height: 51px;
    }

    #gobLogoImg {
        height: 68px;
    }

    .identidad-header {
        display: none;
    }

    .menu-mobile-button {
        float: right;
        display: block;
        padding-top: 12px;
        padding-right: 15px;
        padding-left: 16px;
        transition: background-color 1s;
    }

    .menu-mobile-button a {
        font-size: 25px;
    }
}