@media (max-width: 1024px) {
    .layout-wrapper {
        .layout-topbar {
            .topbar-button {
                .ui-button-text {
                    display: none;
                }

                .ui-button-icon-right {
                    right: 50%;
                    margin-right: -.6em;
                }  
            }
        }

        &.layout-sidebar-active {
            .layout-sidebar {
                left: 0;
            }

            .layout-main-mask {
                z-index: 998;
                position: fixed;
                left: 0;
                top: 64px;
                background-color: $layoutMaskBgColor;
                $opacity-ie: .5 * 100;
                opacity: .5;
                display: block;
                width: 100%;
                height: 100%;
                overflow: hidden;
            }
        }
    }

    body {
        &.hidden-overflow {
            overflow: hidden;
        }
    }
}