<div class="btn-logout-wrapper" *ngIf="identidad">
    <button pButton type="button" label="Cerrar Sesión" (click)="cerrarSesion();" iconPos="left" icon="pi pi-sign-out"
        class="ui-button-secondary" style="margin-top: 15px;"></button>
</div>