@media screen and (max-width:800px ) {
    div.btn-logout-wrapper button {
        width: 100%;
        margin-top: 10px !important;
        font-weight: bold;
        text-align: left;
    }

    div.btn-logout-wrapper button span.ui-button-icon-left {
        padding-left: 9px !important;
    }
}