<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <h1>
                Aplicación SpringBoot Angular
            </h1>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <img src="assets/images/foto_portada.jpg" style="width: 100%;" alt="Dipres">
        </div>
        <div class="col-md-6">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
                in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
                <iframe title="video" width="100%" height="400px" src="https://www.youtube.com/embed/TkowjoFO3WM?autoplay=1"></iframe>
            </p>
        </div>
    </div>
</div>
