<p-dialog header="Inactivo" [(visible)]="displayWarning" [draggable]="false" [closable]="false"
          [resizable]="false" [closeOnEscape]="true" [modal]="true" [style]="{'width': '300px'}" >
    
        <p>
            Su sesión expirará por inactividad en {{countdown}} segundos
        </p>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton (click)="extender()" label="Extender Sesión"></button>
            </div>
        </p-footer>
</p-dialog>


<p-dialog header="Inactivo" [(visible)]="displayExpirada" [draggable]="false" [closable]="false"
          [resizable]="false" [closeOnEscape]="true" [modal]="true" [style]="{'width': '300px'}" >
        <p>
            Su sesión expiró.
        </p>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton (click)="expired()" label="Aceptar"></button>
            </div>
        </p-footer>
</p-dialog>





