<div class="container">

    <h1>Gestionar Usuarios</h1>

    <div class="ui-g">

        <div class="ui-g-12 ui-lg-3">

            <h4>Filtros</h4>

            <div class="card gray">

                <form *ngIf="formFiltros" [formGroup]="formFiltros">
                    <div class="form-group">
                        <label for="username">Nombre usuario</label><em class="fa fa-info-circle info-btn"
                            pTooltip="{{ 'info.tooltip.username' | translate }}"></em>
                        <input type="text" pInputText class="form-control" id="username" formControlName="username" />
                        <div class="ui-message ui-messages-error ui-corner-all"
                            [hidden]="formFiltros.controls.username.valid || (formFiltros.controls.username.pristine)">
                            <em class="fa fa-close"></em>
                            <span
                                *ngIf="formFiltros.controls.username.hasError('minlength')">{{ 'error.input.minlength' | translate:{p1:4} }}</span>
                            <span
                                *ngIf="formFiltros.controls.username.hasError('maxlength')">{{ 'error.input.maxlength' | translate:{p1:20} }}</span>
                            <span
                                *ngIf="formFiltros.controls.username.hasError('validateUsername')">{{ 'error.input.validateUsername' | translate }}</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="run">RUN</label>
                        <input type="text" pInputText class="form-control" id="run" formControlName="run" />
                        <div class="ui-message ui-messages-error ui-corner-all"
                            [hidden]="formFiltros.controls.run.valid || (formFiltros.controls.run.pristine)">
                            <em class="fa fa-close"></em>
                            <span
                                *ngIf="formFiltros.controls.run.hasError('validateRUN')">{{ 'error.input.validateRUN' | translate }}</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="perfil">Perfil</label>
                        <p-dropdown id="perfil" [options]="perfilesSelectItems" formControlName="perfil"
                            class="d-block"></p-dropdown>
                        <div class="ui-message ui-messages-error ui-corner-all"
                            [hidden]="formFiltros.controls.perfil.valid || (formFiltros.controls.perfil.pristine)">
                            <em class="fa fa-close"></em>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="habilitado">Habilitado</label>
                        <p-dropdown id="habilitado" [options]="habilitadosSelectItems" formControlName="habilitado"
                            class="d-block"></p-dropdown>
                        <div class="ui-message ui-messages-error ui-corner-all"
                            [hidden]="formFiltros.controls.habilitado.valid || (formFiltros.controls.habilitado.pristine)">
                            <em class="fa fa-close"></em>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="nombres">Nombres</label>
                        <input type="text" pInputText class="form-control" id="nombres" formControlName="nombres" />
                        <div class="ui-message ui-messages-error ui-corner-all"
                            [hidden]="formFiltros.controls.nombres.valid || (formFiltros.controls.nombres.pristine)">
                            <em class="fa fa-close"></em>
                            <span
                                *ngIf="formFiltros.controls.nombres.hasError('minlength')">{{ 'error.input.minlength' | translate:{p1:2} }}</span>
                            <span
                                *ngIf="formFiltros.controls.nombres.hasError('maxlength')">{{ 'error.input.maxlength' | translate:{p1:100} }}</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="apPaterno">Apellido Paterno</label>
                        <input type="text" pInputText class="form-control" id="apPaterno" formControlName="apPaterno" />
                        <div class="ui-message ui-messages-error ui-corner-all"
                            [hidden]="formFiltros.controls.apPaterno.valid || (formFiltros.controls.apPaterno.pristine)">
                            <em class="fa fa-close"></em>
                            <span
                                *ngIf="formFiltros.controls.apPaterno.hasError('minlength')">{{ 'error.input.minlength' | translate:{p1:2} }}</span>
                            <span
                                *ngIf="formFiltros.controls.apPaterno.hasError('maxlength')">{{ 'error.input.maxlength' | translate:{p1:100} }}</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="apMaterno">Apellido Materno</label>
                        <input type="text" pInputText class="form-control" id="apMaterno" formControlName="apMaterno" />
                        <div class="ui-message ui-messages-error ui-corner-all"
                            [hidden]="formFiltros.controls.apMaterno.valid || (formFiltros.controls.apMaterno.pristine)">
                            <em class="fa fa-close"></em>
                            <span
                                *ngIf="formFiltros.controls.apMaterno.hasError('minlength')">{{ 'error.input.minlength' | translate:{p1:2} }}</span>
                            <span
                                *ngIf="formFiltros.controls.apMaterno.hasError('maxlength')">{{ 'error.input.maxlength' | translate:{p1:100} }}</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email">Correo electrónico</label>
                        <input id="email" pInputText type="email" class="form-control" formControlName="email" />
                        <div class="ui-message ui-messages-error ui-corner-all"
                            [hidden]="formFiltros.controls.email.valid || (formFiltros.controls.email.pristine)">
                            <em class="fa fa-close"></em>
                            <span
                                *ngIf="formFiltros.controls.email.hasError('maxlength')">{{ 'error.input.maxlength' | translate:{p1:100} }}</span>
                            <span
                                *ngIf="formFiltros.controls.email.hasError('validateEmail')">{{ 'error.input.validateEmail' | translate }}</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="fechaNacimientoInferior">Fecha de Nacimiento Inferior</label>
                        <p-calendar id="fechaNacimientoInferior" formControlName="fechaNacimientoInferior"
                            [locale]="calLocale" [showIcon]="true" dateFormat="dd/mm/yy" showButtonBar="true"
                            [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange" [minDate]="minDate"
                            [maxDate]="maxDate" readonlyInput="true"></p-calendar>
                        <div class="ui-message ui-messages-error ui-corner-all"
                            [hidden]="formFiltros.controls.fechaNacimientoInferior.valid || (formFiltros.controls.fechaNacimientoInferior.pristine)">
                            <em class="fa fa-close"></em>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="fechaNacimientoSuperior">Fecha de Nacimiento Superior</label>
                        <p-calendar id="fechaNacimientoSuperior" formControlName="fechaNacimientoSuperior"
                            [locale]="calLocale" [showIcon]="true" dateFormat="dd/mm/yy" showButtonBar="true"
                            [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange" [minDate]="minDate"
                            [maxDate]="maxDate" readonlyInput="true"></p-calendar>
                        <div class="ui-message ui-messages-error ui-corner-all"
                            [hidden]="formFiltros.controls.fechaNacimientoSuperior.valid || (formFiltros.controls.fechaNacimientoSuperior.pristine)">
                            <em class="fa fa-close"></em>
                        </div>
                    </div>


                </form>

            </div>

        </div>

        <div class="ui-lg-9 ui-g-12">
            <h4>Resultados</h4>

            <div class="botonera-sup-tabla top_minus">
                <button type="button" pButton (click)="irNuevoUsuario()">Nuevo Usuario</button>
            </div>

            <p-table *ngIf="tablaResultadosVisible" [columns]="columnasTabla" [value]="dataTabla" [lazy]="true"
                (onLazyLoad)="loadBusquedaLazy($event)" [paginator]="true" [responsive]="true" [rows]="10"
                [totalRecords]="busquedaRowCount" emptyMessage="No se encontraron usuarios">

                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" scope="col" [ngStyle]="col.style">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns" [ngSwitch]="col.field">
                            <div *ngSwitchCase="'acciones'" class="acciones">
                                <button type="button" pButton (click)="abrirDialogImgPerfil(rowData['usuario'])"  
                                    icon="pi pi-camera" title="imagen de perfil"></button>
                                <button type="button" pButton (click)="abrirDialogCambiarPass(rowData['usuario'])" 
                                    icon="pi pi-key" title="cambiar contraseña usuario"></button>
                                <button type="button" pButton (click)="irEditarUsuario(rowData['usuario'])" 
                                    icon="pi pi-pencil" title="editar usuario"></button>
                                <button type="button" pButton (click)="confirmarEliminar(rowData['usuario'])" 
                                    icon="pi pi-trash" title="eliminar usuario"></button>
                            </div>
                            <div *ngSwitchDefault>
                                <span>{{rowData[col.field]}}</span>
                            </div>
                        </td>
                    </tr>
                </ng-template>

            </p-table>
        </div>
    </div>


    <p-dialog header="{{'dialogs.img-perfil.title' | translate }}" [style]="{'width': '600px'}" [(visible)]="imgPerfilDialogVisible" [closable]="false" [modal]="true">

        <ng-container *ngIf="!tieneImagen">
            <p-message severity="info" text="Seleccione una imagen PNG como imagen de perfil."></p-message>
            <br/>
            <br/>
            <p-fileUpload mode="advanced" customUpload="true" (uploadHandler)="subirImagenPerfil($event)" 
                [auto]="false" [fileLimit]="1"
                chooseLabel="{{'labels.file-upload.choose-label' | translate }}"
                uploadLabel="{{'labels.file-upload.upload-label' | translate }}"
                cancelLabel="{{'labels.file-upload.cancel-label' | translate }}"
                accept="image/png" maxFileSize="2000000">
            </p-fileUpload>
        </ng-container>

        <ng-container *ngIf="tieneImagen">
            <img id="img-perfil" src="{{urlImagen}}" alt="imagen perfil" style="max-width: 150px;" />
            <br/>
            <button pButton class="btn btn-default" title="" (click)="borrarImagenPerfil()"
                label="Eliminar Imagen"></button>
        </ng-container>

        <p-footer>
            <button pButton class="btn btn-default" title="" (click)="cerrarDialogImgPerfil()"
                label="{{ 'labels.cerrar' | translate }}"></button>
        </p-footer>
    </p-dialog>

    <p-dialog header="{{'dialogs.cambiar-pass.title' | translate }}" [style]="{'width': '400px'}" [(visible)]="passDialogVisible"
        [closable]="false" [modal]="true">
        <form *ngIf="formPass" [formGroup]="formPass">
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input pInputText type="password" class="form-control" id="password" formControlName="password" />
                <div class="ui-message ui-messages-error ui-corner-all"
                    [hidden]="formPass.controls.password.valid || (formPass.controls.password.pristine && !formPassSubmitted)">
                    <em class="fa fa-close"></em>
                    <span
                        *ngIf="formPass.controls.password.hasError('required')">{{ 'error.input.required' | translate }}</span>
                    <span
                        *ngIf="formPass.controls.password.hasError('minlength')">{{ 'error.input.minlength' | translate:{p1:8} }}</span>
                    <span
                        *ngIf="formPass.controls.password.hasError('maxlength')">{{ 'error.input.maxlength' | translate:{p1:20} }}</span>
                </div>
            </div>

            <div class="form-group">
                <label for="confirmPassword">Confirmar Contraseña</label>
                <input pInputText type="password" class="form-control" id="confirmPassword"
                    formControlName="confirmPassword" />
                <div class="ui-message ui-messages-error ui-corner-all"
                    [hidden]="formPass.controls.confirmPassword.valid || (formPass.controls.confirmPassword.pristine && !formPassSubmitted)">
                    <em class="fa fa-close"></em>
                    <span
                        *ngIf="formPass.controls.confirmPassword.hasError('required')">{{ 'error.input.required' | translate }}</span>
                    <span
                        *ngIf="formPass.controls.confirmPassword.hasError('notEqualsPasswords')">{{ 'error.input.notEqualsPasswords' | translate }}</span>
                </div>
            </div>
        </form>
        <p-footer>
            <button pButton (click)="cerrarDialogCambiarPass()" class="btn btn-default" title=""
                label="{{ 'labels.cancelar' | translate }}"></button>
            <button pButton (click)="aceptarCambiarPass()" class="btn btn-success" title=""
                label="{{ 'labels.aceptar' | translate }}"></button>
        </p-footer>
    </p-dialog>

</div>