<div id="footer">
	<div class="container">
    	<div class="row">
        	<div class="col-sm-7">
              <p>
                <span class="small">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
					<br/>
					Fecha Sistema: {{fecha | date:'dd/MM/yyyy HH:mm:ss'}}
				</span>
			  </p>
            </div>
        </div>
	</div>
</div>
