/* You can add global styles to this file, and also import other style files */

body {

    .ui-state-disabled,
    .ui-widget:disabled {
        opacity: 0.80;
        filter: alpha(opacity=80);
    }
}

legend {
    font-size: 1.2rem;
    width: auto;
}

label {
    &.required::before {
        content: "*";
        color: red;
        margin-right: 5px;
    }
}

p {
  text-align: justify;
}

.layout-wrapper h1 {
  margin-top: 30px;
  margin-bottom: 15px;
  font-style: italic;
  font-weight: bold;
}

.separador {
    height: 30px;
}

.botonera {
    display: block;
    padding: 10px 0px;
    width: 100%;

    &.derecha{
        text-align: right;
    }

    button {
        margin-right: 15px;
    }
}


/* Display data */

.long-string {
  word-break: break-all;
}

/* PrimeNG */

.ui-message {
  &.ui-messages-error {
      background-color: #ffcccc
  }
}

body .ui-menubar a.ui-menuitem-link span.ui-menuitem-text {
  font-weight: 550;
}

body .ui-breadcrumb.ui-widget {
  font-style: italic;
  font-weight: lighter;
}

body div.botonera-sup-tabla button em {
  float: left;
  position: relative;
  top: 10px;
  margin-right: 11px;
}

body div.ui-table-caption button em {
  float: left;
  position: relative;
  top: 2px;
  margin-right: 9px;
}

.ui-widget {
    &.ui-datepicker {
        font-size: 0.8em;
        th {
            padding: 0.1em;
        }
        td>span,
        td>a {
            padding: 0.1em;
        }
    }

    &.ui-dialog {

        .ui-dialog-title {
            color: #0f69b4;
            font-weight: bolder;
            font-size: 1.6 em;
        }

        .ui-dialog-content {
            height: 100%;
            padding: 30px 30px 16px 30px;
        }
    }

    &.ui-dropdown {
        width: 100% !important;
    }
    &.ui-fieldset {
        .ui-fieldset-legend {
            padding: 0.2em 0.5em;
        }
    }
    &.ui-multiselect {
        display: block;
        width: 100%;
    }

    &.ui-autocomplete {
        display: block;
        width: 100%;
    }

    &.ui-autocomplete-input {
        display: block;
        width: 100%;
    }

    &.ui-table {
        .ui-table-caption {
            button {
                height: 37px;
                padding-top: 8px;
            }
        }

        .ui-table-tbody {
            td {
                button {
                    margin-right: 3px;
                }
            }
        }
    }

    &.ui-treetable {
        .ui-treetable-caption {
            button {
                height: 37px;
                padding-top: 8px;
            }
        }

        .ui-treetable-tbody {
            td {
                button {
                    margin-right: 3px;
                }
            }
        }
    }

    &.ui-button {
        &.btn-default {
            background: #A8B7C7;
        }
        &.btn-success {
            background: #20c997;
        }
        &.btn-warning {
            background: #ffc107;
        }
        &.btn-danger {
            background: #e70d0d;
        }
        &.btn-secondary {
          background: #919191;
      }
    }
}

.p-inputmask.form-control {
  border: none;
}

/* PrimeNG Toast Messages */

.ui-toast-message {
    &.ui-toast-message-success {
        background: green;
        color: white;
    }
    &.ui-toast-message-info {
        background: blue;
        color: white;
    }
    &.ui-toast-message-warn {
        background: yellow;
        color: black;
    }
    &.ui-toast-message-error {
        background: red;
        color: white;
    }
}
    
.ui-toast-detail {
    white-space: pre-line;
}

.ng-star-inserted{
  white-space: pre-line;
}

/* Tablas de de Justificaciones (Revisión) */

.justificacion-table .ui-dataview .ui-dataview-content {
  padding: 0em;
}

.revision-dipres-table .ui-dataview .ui-dataview-content {
  padding: 0em;
}

.aceptado-select-option.ui-button {
  width: 100%;
}

.ui-selectbutton .aceptado-select-option.ui-button.ui-state-active {
  background-color: rgb(21, 177, 21) !important;
}

.pendiente-select-option.ui-button {
  width: 100%;
}

.ui-selectbutton .pendiente-select-option.ui-button.ui-state-active {
  background-color: yellow !important;
  color: black !important;
}

.pendiente-select-option.ui-button.ui-state-active .ui-button-icon-left {
  color: black !important;
}

.no-aceptado-select-option.ui-button {
  width: 100%;
}
.ui-selectbutton .no-aceptado-select-option.ui-button.ui-state-active {
  background-color: red !important;
}

/* Nebular ChatUI */

@import "chat.css";

/*Zeke_jjlopez*/

/* HEADER */
#header {
    height: 120px;
  }

#header .brand {
    position: absolute;
    height: 120px;
  }

/*MENU PRINCIPAL*/
.menu-principal {
    border-top: 1px solid #e6e6e6;
    color: #555;
  }

  .menu-principal .navbar {
    padding: 0;
  }

  .menu-principal .navbar-collapse {
    position: relative;
  }
  @media (min-width: 992px) {
    .menu-principal .linea-divisora {
      border-left: 1px solid #bdc9d1;
      width: 1px;
      min-height: 40px;
      margin-top: 5px;
      display: block;
    }
    .menu-principal .navbar-collapse .nav.navbar-nav.menu-secciones {
      width: 100%;
      background-color: #fff;
      display: table-row;
    }
    .menu-principal .navbar-collapse .nav.navbar-nav.menu-secciones .inicio > a {
      height: 52px;
    }
    .menu-principal .navbar-collapse .nav.navbar-nav.menu-secciones > li {
      display: table-cell;
      width: 1%;
      float: none;
      text-align: center;
    }
    .menu-principal .navbar-collapse .nav.navbar-nav.menu-secciones > li > a {
      border-bottom: 2px solid #fff;
      border-right: 1px solid #e6e6e6;
    }
    .menu-principal .navbar-collapse .nav.navbar-nav.menu-secciones > li > a:hover {
      border-bottom-color: #0f69b4;
    }
    .menu-principal .navbar-collapse .nav.navbar-nav.menu-secciones > li > a .texto-link {
      display: none;
      opacity: 0;
    }
    .menu-principal .navbar-collapse .nav.navbar-nav.menu-secciones > li:last-child > a {
      border-right: none;
    }
    .menu-principal .navbar-collapse .nav.navbar-nav.menu-secciones .active > a {
      border-bottom-color: #0f69b4;
    }
    .menu-principal .navbar-fixed-top {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      background-color: #fff !important;
      z-index: 1500 ;
    }
    .menu-principal .navbar-fixed-top .container-ntg-menu-fixed {
      margin-right: auto;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px;
    }
    .menu-principal .navbar-fixed-top .container-ntg-menu-fixed > .navbar-header,
    .menu-principal .navbar-fixed-top .container-ntg-menu-fixed > .navbar-collapse {
      margin-right: -15px;
      margin-left: -15px;
    }
    .menu-principal .navbar-fixed-top li > a {
      background-color: transparent;
      transition: all 0.5s ease-in-out;
    }
    .menu-principal .navbar-fixed-top .inicio {
      min-width: 100px;
    }

    .menu-principal .navbar-fixed-top .inicio > a .fa {
      display: none;
    }
    .menu-principal .navbar-fixed-top .inicio > a .texto-link {
      display: block !important;
      text-indent: -9999%;
    }
  }
  @media (min-width: 992px) and (min-width: 992px) {
    .menu-principal .navbar-collapse .nav.navbar-nav.menu-secciones > li {
      white-space: nowrap;
    }
  }
  @media (min-width: 992px) and (min-width: 992px) {
    .menu-principal .navbar-fixed-top .container-ntg-menu-fixed {
      width: 980px;
    }
  }
  @media (min-width: 992px) and (min-width: 1200px) {
    .menu-principal .navbar-fixed-top .container-ntg-menu-fixed {
      width: 1170px;
    }
  }
  @media (min-width: 992px) and (min-width: 1400px) {
    .menu-principal .navbar-fixed-top .container-ntg-menu-fixed {
      width: 1390px;
    }
  }
  @media (min-width: 992px) and (min-width: 992px) {
    .menu-principal .navbar-fixed-top .container-ntg-menu-fixed > .navbar-header,
    .menu-principal .navbar-fixed-top .container-ntg-menu-fixed > .navbar-collapse {
      margin-right: 0;
      margin-left: 0;
    }
  }
  @media (max-width: 991px) {
    .menu-principal .inicio .fa-home {
      margin-right: 5px;
    }
    .menu-principal .navbar-collapse > .nav.navbar-nav > li {
      border-bottom: 1px solid #e6e6e6;
    }
    .menu-principal .navbar-collapse > .nav.navbar-nav > li:first-child {
      border-top: 1px solid #e6e6e6;
    }
  }

  @media (min-width: 991px) {
    .menu-principal .navbar-collapse .nav.navbar-nav.menu-secciones > li a {
    padding-top: 5px;
    padding-bottom: 7px;
    height: 52px;
    }
    .menu-principal .navbar-collapse .nav.navbar-nav.menu-secciones > li:nth-child(3),
    .menu-principal .navbar-collapse .nav.navbar-nav.menu-secciones > li:nth-child(7),
    .menu-principal .navbar-collapse .nav.navbar-nav.menu-secciones > li.acceso-calendario {
    white-space: normal;
    /*width: 3%;*/   
    }
    .menu-principal .navbar-collapse .nav.navbar-nav.menu-secciones > li:nth-child(3) > a {
        min-width: 180px;
    }
    .menu-principal .navbar-collapse .nav.navbar-nav.menu-secciones > li:nth-child(7) > a{
        min-width: 155px;
    }
    .menu-principal .navbar-collapse .nav.navbar-nav.menu-secciones > li.acceso-calendario > a {
        width: 160px;
    }
}

@media (min-width: 991px) and (max-width: 1180px) {
	.menu-principal .navbar-collapse .nav.navbar-nav.menu-secciones > li a {
  		font-size: 95%;
	}
	.menu-principal .navbar-collapse .nav.navbar-nav.menu-secciones > li:nth-child(4),
	.menu-principal .navbar-collapse .nav.navbar-nav.menu-secciones > li:nth-child(5),
	.menu-principal .navbar-collapse .nav.navbar-nav.menu-secciones > li:nth-child(6) {
  		white-space: normal;
    	
	}
	.menu-principal .navbar-collapse .nav.navbar-nav.menu-secciones > li:nth-child(4) > a,
	.menu-principal .navbar-collapse .nav.navbar-nav.menu-secciones > li:nth-child(5) > a,
	.menu-principal .navbar-collapse .nav.navbar-nav.menu-secciones > li:nth-child(6) > a {
  	
    	min-width: 100px;
	}
	.menu-principal .navbar-collapse .nav.navbar-nav.menu-secciones > li:nth-child(7) > a {
  		min-width: 190px;
	}
	.menu-principal .navbar-collapse .nav.navbar-nav.menu-secciones > li.acceso-calendario > a {
  		min-width: 150px;
	}
}

.navbar-default .navbar-nav > li > a {
  color: #67747e;
  padding: 10px 15px;
  position: relative;
  display: block;
}

@media (min-width: 991px) {
  .menu-principal .navbar-collapse .nav.navbar-nav.menu-secciones > li a {
  padding-top: 5px;
  padding-bottom: 7px;
  height: 52px;
  }
  .menu-principal .navbar-collapse .nav.navbar-nav.menu-secciones > li:nth-child(3),
  .menu-principal .navbar-collapse .nav.navbar-nav.menu-secciones > li:nth-child(7),
  .menu-principal .navbar-collapse .nav.navbar-nav.menu-secciones > li.acceso-calendario {
  white-space: normal;
  /*width: 3%;*/   
  }
  .menu-principal .navbar-collapse .nav.navbar-nav.menu-secciones > li:nth-child(3) > a {
      min-width: 180px;
  }
  .menu-principal .navbar-collapse .nav.navbar-nav.menu-secciones > li:nth-child(7) > a{
      min-width: 155px;
  }
  .menu-principal .navbar-collapse .nav.navbar-nav.menu-secciones > li.acceso-calendario > a {
      width: 160px;
  }
}

@media (min-width: 991px) and (max-width: 1180px) {
.menu-principal .navbar-collapse .nav.navbar-nav.menu-secciones > li a {
    font-size: 95%;
}
.menu-principal .navbar-collapse .nav.navbar-nav.menu-secciones > li:nth-child(4),
.menu-principal .navbar-collapse .nav.navbar-nav.menu-secciones > li:nth-child(5),
.menu-principal .navbar-collapse .nav.navbar-nav.menu-secciones > li:nth-child(6) {
    white-space: normal;
    
}
.menu-principal .navbar-collapse .nav.navbar-nav.menu-secciones > li:nth-child(4) > a,
.menu-principal .navbar-collapse .nav.navbar-nav.menu-secciones > li:nth-child(5) > a,
.menu-principal .navbar-collapse .nav.navbar-nav.menu-secciones > li:nth-child(6) > a {
  
    min-width: 100px;
}
.menu-principal .navbar-collapse .nav.navbar-nav.menu-secciones > li:nth-child(7) > a {
    min-width: 190px;
}

.menu-principal .navbar-collapse .nav.navbar-nav.menu-secciones > li.acceso-calendario > a {
    min-width: 150px;
}
}


/*FOOTER*/
#footer {
    background: #fff;
    border-top: 1px solid #e6e6e6;
  }
  #footer .container {
    height: 120px;
    background-image: url(/assets/images/fondo_footer.png);
    background-position: 15px bottom;
    background-repeat: no-repeat;
  }
  @media (max-width: 991px) {
    #footer .container {
      background-image: url(/assets/images/fondo_footer_movil.png);
      height: auto;
    }
  }
  #footer p {
    padding: 40px 0 6px;
  }
  @media (max-width: 991px) {
    #footer p {
      text-align: center;
      padding: 15px 0 0;
    }
  }
  #footer .nav.nav-pills {
    float: right;
    padding-top: 40px;
  }
  #footer .nav.nav-pills li a {
    border-left: 1px solid #7A8791;
    padding: 0 15px;
  }
  #footer .nav.nav-pills li:first-child a {
    border-left: none;
  }


  @media (max-width: 991px) {
    #footer .nav.nav-pills {
      float: none;
      padding-top: 0;
      margin: 0 auto 30px;
      display: table;
    }
  }

  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media (min-width: 992px) {
    .container {
      width: 980px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  @media (min-width: 1400px) {
    .container {
      width: 1390px;
    }
  }


  /*MENU SUPERIOR*/
  .menu-superior {
    color: #67747e;
    border-top: 1px solid #e6e6e6;
  }

  body .ui-menu .ui-menuitem-link .ui-menuitem-text,
  body .ui-menubar .ui-menuitem-link .ui-menuitem-text,
  body .ui-tieredmenu .ui-menuitem-link .ui-menuitem-text,
  body .ui-contextmenu .ui-menuitem-link .ui-menuitem-text,
  body .ui-megamenu .ui-menuitem-link .ui-menuitem-text,
  body .ui-slidemenu .ui-menuitem-link .ui-menuitem-text {
    color: #67747e;
  }
  body .ui-menu .ui-menuitem-link .ui-menuitem-icon,
  body .ui-menubar .ui-menuitem-link .ui-menuitem-icon,
  body .ui-tieredmenu .ui-menuitem-link .ui-menuitem-icon,
  body .ui-contextmenu .ui-menuitem-link .ui-menuitem-icon,
  body .ui-megamenu .ui-menuitem-link .ui-menuitem-icon,
  body .ui-slidemenu .ui-menuitem-link .ui-menuitem-icon {
    color: #67747e;
  }

  body .ui-menubar {
    margin: 0 25px;
    border: none;
  }

  body .ui-menubar .ui-menubar-root-list > .ui-menuitem > .ui-menuitem-link {
    padding: 10px 25px 15px 25px;
    border-bottom: 2px solid #fff;
    border-right: 1px solid #e6e6e6;
  }

  body .ui-menubar .ui-menuitem.ui-menuitem-active > .ui-menuitem-link {
    border-bottom-color: #0f69b4;
  }

  .ui-menubar  .ui-state-active{
    border-bottom: 2px solid #0f69b4 !important;
  }

  /*BREADCRUMB - CAMINO DE MIGAS*/
  .menu-breadcrumb {
    background-color:#eee;
  }

  body .ui-breadcrumb {
    background-color: transparent;
    border: none;
    margin-left: 30px;
  }

  .ui-widget-header {
    background-color: transparent;
  }

  body .ui-breadcrumb ul li .ui-menuitem-link {
    color: #67747e;
    font-size: small;
  }

  .ui-megamenu-vertical {
    width: 100%;
    height: 100%;
  }

  .ui-megamenu-horizontal .ui-megamenu-root-list>.ui-menuitem {
    display: inline-block;
    width: 33%;
  }

  .ui-megamenu-root-list {
    margin: 0px;
    padding: 0;
    list-style: none;
  }

  .ui-slidemenu {
      width: initial;
  }

  div.menu .ui-slidemenu {
    padding: 0;
    background-color: #ffffff;
    border: 0px solid #ffffff;
  }

  div.menu .ui-megamenu {
    border: 0px solid #ffffff;
  }

  body .ui-slidemenu .ui-menuitem.ui-menuitem-active > .ui-menuitem-link {
    background-color: #ffffff;
  }

  .ui-inputgroup .ui-inputtext:not(:last-child).borde-derecho {
    border-right: 1.5px solid #c8c8c8;
  }

  textarea {
    resize: none;
}